@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	/* Reference name */
	font-family: 'Inter';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

html,
body {
	@apply h-full overflow-hidden;
}
:root [data-theme='wintry'] {
	--theme-font-family-heading: Inter, system-ui, sans-serif;
	--theme-font-family-base: Inter, system-ui, sans-serif;
}
